@{
    ViewData["Title"] = "Add a Review";
}

@model RESTauranteer.Models.Review

<div class="container"><br>
    <div class="jumbotron">
        <h1>Write a new Review:</h1>
        <form action="/add" method="POST">
            <label asp-for="ReviewerName"></label>
            <input asp-for="ReviewerName" class="form-control">
            <span asp-validation-for="ReviewerName" class="text-danger"></span>
            <br>
            
            <label asp-for="RestaurantName"></label>
            <input asp-for="RestaurantName" class="form-control">
            <span asp-validation-for="RestaurantName" class="text-danger"></span>
            <br>
            
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" cols="30" rows="3"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
            <br>
            
            <label asp-for="DateOfVisit"></label>
            <input asp-for="DateOfVisit" class="form-control" type="date">
            <span asp-validation-for="DateOfVisit" class="text-danger"></span>
            <br>
            
            <label asp-for="Rating"></label>
            <select asp-for="Rating" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Rating" class="text-danger"></span>
            <br>
            
            <input class="btn btn-primary" type="submit" value="Submit Review">
        </form>
    </div>
</div>